workflow_n8n/post-workflow-dalatbds.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Bạn là một trợ lý tin tức thị trường bất động sản Đà Lạt  của tôi\nNhiệm vụ của bạn là tổng hợp và cung cấp cho tôi chỉ nội dung của bài tóm tắt của tin tức (để tôi có thể cho post thẳng lên facebook)\n\n**Chủ đề đầu vào do người dùng nhập User Message***\nBan hãy tìm kiếm trên google các tin tức về chủ đề vào chọn ra 1 tin nào nổi bật nhất. \n\n\n**Ví dụ về Dữ liệu Đầu vào (Nếu chưa có dữ liệu thật, hãy dùng ví dụ này):**\ninput:\"\nTin tức về : \"Giao dịch đất nền Đà Lạt, Bảo Lộc tăng 40% theo quý\"\"\noutput:\"\nThị trường bất động sản Lâm Đồng quý II bật tăng mạnh với gần 7.000 giao dịch (tăng 47% so với quý trước), trong đó đất nền chiếm chủ đạo. Hai \"đầu tàu\" Đà Lạt và Bảo Lộc ghi nhận lượng giao dịch tăng khoảng 40%.\n\nĐà phục hồi này được thúc đẩy bởi dự án cao tốc Bảo Lộc - Liên Khương và bảng giá đất mới điều chỉnh tăng. Thanh khoản hiện tập trung vào phân khúc 1-2 tỷ đồng, pháp lý rõ ràng. Đáng chú ý, bài viết đề cập thông tin sáp nhập ba tỉnh Lâm Đồng, Bình Thuận, Đắk Nông thành tỉnh Lâm Đồng mới với trung tâm tại Đà Lạt.\n\n#BatDongSan #LamDong #DaLat #BaoLoc #DatNen #TinTucBDS\n\"\n\n\n**II. Yêu cầu Đầu ra (OUTPUT - Bài Post Facebook Chuẩn SEO):**\n\nBài viết có góc nhìn một chuyên gia vì sự phát triển của thị trường bất động sản Đà Lạt, để giải quyết nỗi đau của  những người quan tâm tới bất động sản Đà Lạt để tao niềm tin\n\nHãy viết một bài đăng trên Facebook Page theo format tin tức/phân tích, đạt chuẩn SEO và tối ưu hóa cho mạng xã hội, dựa trên 3 tin nổi bật bạn đã tổng hợp.\n\n**Độ dài:** Khoảng 200 - 250 từ."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2128,
        1216
      ],
      "id": "a2fb9982-48eb-45cd-9427-016fa23e274a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2128,
        1424
      ],
      "id": "10af1042-57ff-4e1d-9286-65c2088e2e5b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "duPXUVgJyGyWL4qN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot3440738886639426858:uoGmTFcbPThTPflmzJQxWemOFNXglokJcyrPKXMjcxMRujnBgldzWlBULbYGsPQu/setWebhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://zstuoi.ezn8n.com/webhook/00872282-f07c-47d1-847d-3d96b0f3ce8e"
            },
            {
              "name": "secret_token",
              "value": "mykey-abcyxz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2352,
        -288
      ],
      "id": "00fdda12-0ec3-45a7-abf7-c2e7deecfd81",
      "name": "Register Webhook for Zalo"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "918bbacc-5f2a-4a79-aa11-899bb80d8daf",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start Command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8d3e2e0c-a6e9-48f7-bd37-4c80cbc1f7bc",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/newsbds",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hello command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7bccabd7-a9eb-447d-8fbc-3984099a30d4",
                    "leftValue": "{{ $json.message.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not command"
            }
          ]
        },
        "options": {}
      },
      "id": "0096ed22-1206-462b-8401-108a216d522d",
      "name": "Check Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2352,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot3440738886639426858:uoGmTFcbPThTPflmzJQxWemOFNXglokJcyrPKXMjcxMRujnBgldzWlBULbYGsPQu/getWebhookInfo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2336,
        608
      ],
      "id": "f29575d1-c78c-4dab-8879-e5a875dc292c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2560,
        1024
      ],
      "id": "80e3acb8-f361-4af0-9512-06c7df59d07c",
      "name": "Telegram Trigger",
      "webhookId": "f8b05964-e97c-4006-abf8-22edb017eb63",
      "credentials": {
        "telegramApi": {
          "id": "H6zRLLVG8Gn938Be",
          "name": "Trợ lý của Huy Đẹp Zai"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output[0] }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1328,
        1024
      ],
      "id": "f0428b97-da26-42a9-9260-a640290b3750",
      "name": "Send a text message",
      "webhookId": "1d790e98-0f76-43f5-a477-3fbf8894b1de",
      "credentials": {
        "telegramApi": {
          "id": "H6zRLLVG8Gn938Be",
          "name": "Trợ lý của Huy Đẹp Zai"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "output",
              "value": "Tôi là trợ lý ảo của anh Huy Thái:|Đây là danh sách lệnh:⚙️ Lệnh Quản lý Công việc & Tự động hóa/start - bảng câu lệnh/newsbds - tin tức bds",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cfab1a96-14cd-4ce2-9bca-3c5e8a7518fe",
      "name": "Menu commands",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        832
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "output",
              "value": "xin chào bạn!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cd1845fb-53ff-4382-854d-c7567620e77d",
      "name": "/newsbds",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        1024
      ]
    },
    {
      "parameters": {
        "url": "https://vneconomy.vn/dia-oc.rss",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2352,
        -64
      ],
      "id": "8e141d1f-4bc3-4dcc-bc00-71e545fa846d",
      "name": "rss_vneconomy"
    },
    {
      "parameters": {
        "url": "https://vietstock.vn/4220//bat-dong-san/thi-truong-nha-dat.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2352,
        160
      ],
      "id": "d27305d5-e088-4aa1-be85-88748b8cf3a1",
      "name": "rss_vietstock"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1776,
        1024
      ],
      "id": "ce49666d-4efd-4822-a3a1-bb658474837f",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1552,
        1024
      ],
      "id": "e68f3cda-556b-4c59-ad7d-70a2b57e12e8",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "={{ $json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "👋 Chào bạn! Để đăng nhập, vui lòng bấm nút bên dưới để xác thực số điện thoại:",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Chia sẻ số điện thoại",
                    "additionalFields": {
                      "request_contact": true
                    }
                  },
                  {
                    "text": "Chia sẻ vị trí",
                    "additionalFields": {
                      "request_location": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "id": "8963227e-35cb-4129-b16b-768b06fab557",
      "name": "Gửi Nút Chia Sẻ SĐT",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -2352,
        384
      ],
      "webhookId": "b4beb74d-8d18-49aa-af3a-f03de2697386",
      "credentials": {
        "telegramApi": {
          "id": "H6zRLLVG8Gn938Be",
          "name": "Trợ lý của Huy Đẹp Zai"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "1aa13964-abdf-4866-8063-931915c9b403",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "cde420d8-a120-486d-b138-a975d5f71971",
      "name": "Upsert row(s)1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "ca11dd96-d9d9-492f-bc37-9fb1e0dca10f",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "uBE0vfx8AjxdX8gT",
          "mode": "list",
          "cachedResultName": "dalatbds_customers",
          "cachedResultUrl": "/projects/yBT9VjklbcIIfxSf/datatables/uBE0vfx8AjxdX8gT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "db_id",
              "displayName": "db_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firebase_id",
              "displayName": "firebase_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "profile",
              "displayName": "profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fcm_id",
              "displayName": "fcm_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "logintype",
              "displayName": "logintype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isActive",
              "displayName": "isActive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "api_token",
              "displayName": "api_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notification",
              "displayName": "notification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subscription",
              "displayName": "subscription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2784,
        624
      ],
      "id": "415d55d2-0967-42ec-bf19-afcf31fab09c",
      "name": "Upsert row(s)2"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Command": {
      "main": [
        [
          {
            "node": "Menu commands",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/newsbds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu commands": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/newsbds": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Upsert row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df75f6d19da9532b87ea5a84541b4ccc1d0dd5baf896242962b0dfcbc492bcf4"
  }
}